.loginContent{
    padding-top: 50%;
}

ion-header {
    

    ion-title{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        background-color: greenyellow;
    }

}