<ion-header >
  <ion-toolbar >
    
    <ion-title padding text-wrap>     
              <ion-icon name="restaurant"></ion-icon>{{name}}
            <h4 no-padding>{{address}}</h4>   
    </ion-title>
    
    
  </ion-toolbar>

  <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="gotoRestEdit()">
    <ion-fab-button>
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-header>

<ion-content *ngIf="isLoggedIn">
  <ion-img *ngIf="RestaurantData" src="data:image/jpeg;base64,{{RestaurantData[0].RImg}}"></ion-img>

    <div class="ratingBar">
      <h3>
        &nbsp;
        <ion-icon name="create" (click)="viewReviews()"></ion-icon>
        &nbsp;
          <u (click)="viewReviews()">User Ratings and Reviews:</u> &nbsp; {{rating}}/5
        <ion-icon name="star" ></ion-icon> 
      </h3>
    </div>


  <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-button expand="full" color="tertiary" (click)="goToMenu()">
              <ion-icon slot="start" name="restaurant"></ion-icon>
              Edit Menu
            
          </ion-button>
        </ion-col>
        <ion-col col-6>
            <ion-button expand="full" color="primary" (click)="booktable()">
                <ion-icon slot="end" name="pie"></ion-icon>
                Edit Table Layout
              
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


  <h1 padding>Bestsellers</h1>
  <ion-slides [options]="sliderOpts">
    <ion-slide *ngFor="let img of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
      <ion-card>
        <!-- <img src="../../assets/foodItems/i{{img}}.jpg"> -->
      </ion-card>
    </ion-slide>
  </ion-slides>




</ion-content>

